* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #333;
  overflow-x: hidden;
}

/* Global */
.container {
  width: 100%;
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 { font-size: 4rem }
h2 { font-size: 2rem }

ul { list-style: none }

/* Header */
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

header nav ul li {
  padding: 0.25rem 0;
}

/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}